@use './variables' as v;

/* GLOBALES */

body {
    font-family: v.$fuente_principal;
    &.body-scroll {
        padding-top: 8rem;
    }
}

li {
    font-size: large;
}

section {
    padding: 2rem 0;
    border-top: 1px groove;
}

a {
    text-decoration: none;
}