@use './variables' as v;

/* GLOBALES */

body {
    font-family: v.$fuente_principal;
    &.body-scroll {
        padding-top: 8rem;
    }
}

li {
    font-size: large;
}

section {
    padding: 9rem 1rem;
    border-top: 1px groove;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h2 {
    margin-bottom: 2rem;
}